<header>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Procedimentos", procedimentos_path %></li>
			<li><%= link_to "Consultorios", consultorios_path %></li>
			<li><%= link_to "Convenios", convenios_path %></li>
			<li><%= link_to "Dra. Fatima", dra_fatima_path %></li>
			<li><%= link_to "Contato", contato_path %></li>
			<% if signed_in? %>
				<% if current_user.admin? %>
					<li><%= link_to "Pacientes", users_path %></li>
				<% else %>
					<li><%= link_to "Meu cadastro", current_user %></li>
				<% end %>
				<li><%= link_to "Logout", logout_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "Cadastre-se", cadastre_se_path %></li>
				<li><%= link_to "Login", login_path %></li>
			<% end %>
		</ul>
	</nav>
</header>