<header>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Procedimentos", procedimentos_path %></li>
			<li><%= link_to "Consultorios", consultorios_path %></li>
			<li><%= link_to "Convenios", convenios_path %></li>
			<li><%= link_to "Dra. Fatima", dra_fatima_path %></li>
			<li><%= link_to "Contato", contato_path %></li>
		</ul>
	</nav>
</header>